@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
/* font-family: 'Inter', sans-serif; */

/* #F6F1F1
#aebdc4
#19A7CE
#010b0f */

html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}

html h1 {
    font-size: 6rem;
}

html h2 {
    font-size: 4.5rem;
}

html h3 {
    font-size: 2.5rem;
}

html p {
    font-size: 2rem;
}

.card-title-index {
    font-size: 4rem;
}

.btn p {
    font-size: 2.5rem
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #aebdc4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* header */

header {
    background-color: #010b0f;
    padding: 20px;
}

header ul {
    list-style-type: none;
}

header a {
    color: #F6F1F1;
    text-decoration: none;
    ;
}

header img {
    width: 80px;
    margin-top: 5px;
    margin-left: 5px;
}

.link {
    color: #F6F1F1;
    font-size: 1.5rem;
}

header ul:nth-child(2) {
    display: none;
}

/* main index */

.tituloIndex {
    text-align: center;
    background-image: url(../medios/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding: 160px 0px;
    color: #F6F1F1;
}

.tituloIndex p {
    font-size: 2rem;
}

.tituloIndex h1 {
    font-size: 6rem;
}

.navbar-toggler {
    background-color: #F6F1F1;
}

.collapse-navbar-collapse {
    text-align: start;
}

/* index section vectores --------------------------------------------------------------------------------------- */

.presentacion {
    background-color: #F6F1F1;
    padding: 80px;
}

.presentacion h3 {
    text-align: start;
    color: #010b0f;
    text-decoration: none;
}

.contenedor-grid-vect {
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding-bottom: 20px;
}

.card {
    transition: 0.5s ease;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    scale: 1.02;
}

.contenedor-grid-vectores {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
    .contenedor-grid-vectores {
        grid-template-columns: 1fr;
    }
}

.contenedor-grid-vectores img {
    opacity: 0.5;
}

.card-text-bg-dark h3 {
    text-align: start;
    color: #F6F1F1;
    text-decoration: none;
}

.card-img-overlay h3 {
    text-align: start;
    color: #F6F1F1;
    text-decoration: none;
}

.card-text-bg-dark {
    text-shadow: 1px -1px 25px rgb(0, 0, 0);
}

.btn {
    background-color: #010b0f;
    height: 48px
}

/* nuestra metodología */

.aprender {
    background-color: #aebdc4;
    padding: 80px 80px;
}

.aprender h2 {
    text-align: center;
    color: #010b0f;
    text-decoration: none;
    padding-bottom: 20px;
}

.aprender h3 {
    text-align: start;
    text-decoration: none;
}

.divPadreFlex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

@media (max-width: 768px) {
    .divPadreFlex {
        grid-template-columns: 1fr;
    }
}

.icon-svg {
    width: "48px";
    height: "48px";
}

.card-icon {
    align-items: center;
    justify-content: center;
}

.card-img-center {
    width: 50%;
}

.card-icon:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.icon-container {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    width: 72px;
    height: 72px;
    fill: red
}

/* Nosotros --------------------------------------------------------------------------------------- */

.tituloNosotros {
    text-align: center;
    background-image: url(../medios/annie-spratt-QckxruozjRg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding: 160px 0px;
    text-shadow: 1px -1px 25px rgb(0, 0, 0);
    color: #F6F1F1;
}

.card-iconos img {
    margin: 16px 80px;
    border: 1px solid #b8b8b8;
    background: none;
}

.card-img-top-nosotros {
    width: 80px;
    margin-top: 5px;
    margin-left: 5px;
}

.container-nosotros {
    background-color: #aebdc4;
    width: 100%;
    font-size: 2rem;
    align-items: start;
    padding: 60px;
    color: #010b0f;
}

@media (max-width: 767.98px) {

    .col-lg-3,
    .col-md-6 {
        flex-basis: 100%;
        max-width: 100%;
    }
}

.sobre-nosotros {
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
}

.titulo {
    flex-basis: 50%;
}

.bloque-texto {
    flex-basis: 50%;
}

@media (max-width: 767px) {
    .sobre-nosotros {
        display: block;
        padding: 40px;
    }

    .titulo,
    .bloque-texto {
        flex-basis: 100%;
    }
}

/* oficios --------------------------------------------------------------------------------- */

.oficios {
    text-align: center;
    background-image: url(../medios/banner-oficios.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 160px 0px;
    text-shadow: 1px -1px 25px rgb(0, 0, 0);
    color: #F6F1F1;
}

.card-container {
    background-color: #aebdc4;
}

.card-text {
    font-size: 1.5rem;
}

.card-container {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    padding: 80px;
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}

.card-iconos {
    margin: 16px auto;
    border: 1px solid #b8b8b8;
}

/* Ofertas --------------------------------------------------------------------------------------- */

.container-ofertas img {
    height: 540px;
}

.container-ofertas {
    text-shadow: 1px -1px 25px rgb(0, 0, 0);
}

.sobre-ofertas {
    background-color: #aebdc4;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
}

.titulo {
    flex-basis: 50%;
}

.bloque-texto {
    flex-basis: 50%;
}

@media (max-width: 767px) {
    .sobre-ofertas {
        display: block;
        padding: 40px;
    }

    .titulo,
    .bloque-texto {
        flex-basis: 100%;
    }
}

/* Contactanos --------------------------------------------------------------------------------------- */

.tituloContacto {
    text-align: center;
    background-image: url(../medios/pavan-trikutam-71CjSSB83Wo-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding: 160px 0px;
    text-shadow: 1px -1px 25px rgb(0, 0, 0);
    color: #F6F1F1;
}

.container {
    background-color: #aebdc4;
    width: 50%;
    margin: 16px auto;
    border-radius: 10px;
    font-size: 2rem;
    margin-bottom: 80px;
    align-items: start;
    padding: 60px;
    color: #010b0f;
}

.form-group {
    margin-bottom: 40px;
}

.label {
    font-size: 2rem;
}

.form-control {
    font-size: 1.5rem;
}

@media (max-width: 767px) {
    .container {
        width: 100%;
        padding: 40px;
    }
}

input {
    width: 80%;
    margin: 16px auto;
}

.boton {
    padding: 10px 20px;
    background-color: #010b0f;
    color: #F6F1F1;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: box-shadow 1s ease;
}

.boton:hover {
    color: #010b0f;
    background-color: #F6F1F1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.mapa-google {
    background-color: #aebdc4;
    align-items: start;
    color: #010b0f;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
}

.textomapa {
    flex-basis: 50%;
}

.visormapa {
    flex-basis: 50%;
}

@media (max-width: 767px) {
    .mapa-google {
        display: block;
        padding: 40px;
    }

    .textomapa,
    .visormapa {
        flex-basis: 100%;
}
}

/* 404 */

.container404 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-image {
    width: 200px;
    margin-bottom: 20px;
}

/* footer */

.footer {
    position: relative;
    background-color: #aebdc4;
    text-align: center;
}

.footerin {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px 20px 80px;
    background-color: #F6F1F1;
}

.footerin p {
    flex-basis: 100%;
}

.logotipos img {
    width: 30px;
    height: 30px;
    margin-right: 16px;
}

@media (min-width: 768px) {
    .footerin p {
        flex-basis: auto;
    }

    .footerin img {
        align-items: center;
        margin-left: 0;
        margin-top: 16px;
    }
}

.logotipos img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}