html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}
html h1{
    font-size: 6rem;
}
html h2{
    font-size: 4.5rem;
}
html h3{
    font-size: 2.5rem;
}

html p{
    font-size: 2rem;
}

.card-title-index {
    font-size: 4rem;
}

.btn p {
    font-size: 2.5rem
}


@import "partials/headerFooter";
@import "page/index";
@import "page/oficios";
@import "page/ofertas";
@import "page/nosotros";
@import "page/contacto";
@import "partials/queries";